.doctor-card {
  max-width: 200px;
}

.card-header{
  display: flexbox;
  align-items: center;
  justify-content: center
}

.doctor-picture {
  border-radius: 50% !important;
}

::ng-deep mat-chip span {
  white-space: normal !important;
}

/* mat-chip {
  padding: 5px;
} */
