/* QUERIES */

/* deafult - small screens */
.screen-size {
  width: 350px;
}

/* Calendar */
.calendar {
  background-color: #b3c6b8;
  color: white;
}

.slider-container {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  gap: 1rem;
  padding: 1rem;
}

.card-container{
  flex: 0 0 auto;
  width: 150px;
  height: auto;

}



.calendar{
  color: #fff !important;
}



/* very small screens */
@media (min-width: 0px) {
  .screen-size {
    width: 200px;
  }
}


/* medium screens */
@media (min-width: 410px) {
  .screen-size {
    width: 400px;
  }
}


/* big screens */
@media (min-width: 1024px) {
  .screen-size {
    width: 800px;
  }
}
