<div class="flex flex-column">

  <shared-loading-spinner *ngIf="isLoading"></shared-loading-spinner>
  <span class="test-lg bt-4">Login</span>

  <form [formGroup]="myForm" autocomplete="off" novalidate>
    <div class="flex flex-column">

      <mat-form-field class="mt-2">
        <mat-label>Username</mat-label>
        <input type="text" matInput placeholder="Username" formControlName="username">
        <mat-error *ngIf="myForm.get('username')?.hasError('required')">Username is required</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Password</mat-label>
        <input type="password" matInput placeholder="Password" formControlName="password">
        <mat-error *ngIf="myForm.get('password')?.hasError('required')">Password is required</mat-error>
      </mat-form-field>
    </div>

    <button mat-button mat-flat-button (click)="onLogin()" type="submit">
      <mat-icon>save</mat-icon>
      Login
    </button>
  </form>


  <div class="div flex justify-content-end mt-5">
    <a routerLink="/auth/new-account">Don't have an account yet?</a>
  </div>

</div>
